@import '../abstracts/variable';
@import '../abstracts/mixin';

/* grocerylist */
.table-header {
  @include flex(row, start, space);
  border-bottom: 1px solid $gray300;
  ul {
    @include flex(row, start, start);
    li {
      margin-right: 20px;
      font-size: $body2;
      font-weight: 700;
      color: $gray500;
      padding-bottom: 12px;
      &.active {
        a { color: $black; }
        border-bottom: 3px solid $primary-color;
      }
      a {
        color: $gray500;
      }
    }
  }
}

/* grocerylist item */
.list {
  padding: 16px 0;
  border-bottom: 1px solid $gray200;
  @include flex(row, center, space);

  &__info {
    flex: 1;
    h3 {
      font-size: $body1;
      font-weight: 700;
    }
    p {
      font-size: $body3;
      color: $gray500;
    }
  }
  &__d-day {
    font-size: $body2;
    color: $primary-color;
    font-weight: 700;
    padding-right: 12px;
  }
}

.no-regist {
  text-align: center;
  padding: 40px;
  border-bottom: 1px solid $gray200;
  p {
    color: $gray500;
    line-height: 1.3rem;
  }
}