.products {
  form {
    position: relative;
    input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid $gray300;
      padding: 0 10px;
      &::placeholder {
        font-size: $body2;
        color: $gray400;
      }
    }
    .search-icon {
      position: absolute;
      top: 2px;
      right: 8px;
      background: none;
      span {
        display: block;
        width: 20px;
        height: 20px;
        background: url('../../assets/search_icon.png') no-repeat center;
        background-size: cover;
      }
    }

  }
}