// color
$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$black: #010101;
$white: #FFFFFF;
$primary-color: #FF6B00;
$text-color-light: #232323;
$background-color-dark: #2B2B2B;
$text-color-dark: #FFFFFF;


//typography
$system-font: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$heading1: 72px;
$heading2: 48px;
$heading3: 32px;
$heading4: 24px;
$heading5: 20px;
$heading6: 18px;
$body1: 16px;
$body2: 14px;
$desc: 12px;
$label: 12px;